.label {
  align-items: center;
  display: flex;
  font-size: 14pt;
  justify-content: space-between;
}

.label span {
  flex-basis: 300px;
  margin-right: 20px;
  min-width: 150px;
}

.input {
  flex-basis: 600px;
  font-size: 14pt;
  margin: 2px 0;
  min-width: 100px;
  padding: 10px;
}

.error-message {
  align-self: flex-end;
  color: red;
  margin: 0;
}
